.add_item_form{
    height: 31%;
    align-items: center;
    display: flex;
    border-bottom: 1.5px solid lightgrey;
    justify-content: unset;
}
.input, .adding{
    height: 34px;
    width: 75%;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    display: block;
    border: 1px solid lightgrey;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
}
.adding{
    padding-right: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 22%;
    margin-right: 2%;
    margin-left: 0;
    background-color: #2285D0;
    border: 1px solid #2285D0;
    border-radius: 0 5px 5px 0;
    box-shadow: inset 0 -3px #2276B7;
}

.adding:hover{
    background-color: #2276B7;
    border:#2276B7;
}
.input:focus{
    outline:none;
    border-radius: 0 5px 5px 0;
    border: 2px solid #2285D0;
}
.input::placeholder{
    text-indent: 4px;
}